<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-10">
    <h4 style="color: rgb(240,128,128); margin-botton:4px; font-family: Garamond, serif;">{{job['title']}}</h4>
      {% if 'genre' in job %}
        <div style="font-family: Garamond, serif;">
          <b>Genre:</b> {{job['genre']}}
        </div>
      {% endif %}
        <div style="font-family: Garamond, serif;">
          <b>Language:</b> {{job['language']}}
        </div>
  </div>
  <div class="col-2">  
    <button type="button" class="btn btn-outline-danger" style="color:rgb(240,128,128); font-family: Garamond, serif; margin-top:20px;">Details</button>
  </div>  
</div>