<!DOCTYPE html>
<html>
  <head>
    <title>My Book Shelf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        height: 300px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }

      #title, #about, #sectiontitle {
        font-family: Garamond, serif;
        font-weight: bold;
        color: rgb(240,128,128);
      }

      .lead {
        font-family: Garamond, serif;
      }

    </style>
  </head>
  <body>
      {% include 'nav.html' %}
       <img class="img-fluid" id="banner" src="https://book-shelf--lokyen.repl.co/static/banner.jpeg" >
      <div class="container">
        <h1 class="text-center mt-4 mb-4" id="title">Book Shelf</h1>
        <div class="row" style="margin-bottom:16px">
          <div class="col-md-7">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. centerm ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
          </div>
          <div class="d-none d-md-block col-md-5">
            <img src="/static/reading.jpg" style="height:280px; border-radius:4px";>
          </div>  
        </div>
        <h2 class="text-center mt-2 mb-4" id="sectiontitle">Books</h2>
        <div class="text-center">
          <button type="button" class="btn btn-danger" style="color:rgb(255,250,240); font-family: Garamond, serif; margin-bottom:15px;">Add Book</button>
        </div>
        
        <div>
          {% for job in jobs %}
            {% include 'bookitem.html' %}
          {% endfor %}
        </div>      
      </div>
    {% include 'footer.html' %}
  </body>
</html>